body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 40px;
}

a{
    text-decoration: none;
    color: #fff;
}

.title{ 
    color:coral;
}


section{
    display: flex;
    align-items: center;
}


.Stay{
    width: 50%;
    padding-left: 10%;
}


.img{
    width: 50%;
    size: 50px;
    padding-left: 5%;
    padding-top: 5%;
}


.link-button{
    border-radius: 10px;
    background-image: linear-gradient(coral,orange);
    font-weight: bold;
    padding: 10px 50px;
    font-size: 20px;

}


.mission{
    text-align: center;
    font-weight: 700;
    padding-bottom: 20px;
}

.my-mission{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-left: 130px;
 
}

.my-mission img{
    width: 50%;
    padding-left: 80px;
}

.mission1{
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin-right: 50px;
}
.mission2{
    background-color: rgba(207, 32, 32, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin-right: 50px;
}
.mission3{
    background-color: rgba(59, 247, 159, 0.5);
border-radius: 10px;
    padding: 10px;
    margin-right: 50px;
}

.devlop{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.devlop img{
    width: 60%;
    margin-left: 120px;
}


.mission4{
    align-items: center;
    margin: 10%;
}
.mission5 img{
    width: 60%;
}
.global{
    display: flex;
    align-items: center;

}

.footer{
    background-color: black;
    width: 100%;
    color: #fff;
    text-align: center;
}
.footer-text{
    color: red;
}